    body {
      font-family: 'Open Sans', sans-serif;
      min-height: 100%;
      display: grid;
      grid-template-rows: 1fr auto;
    }

    .headline{
	display: flex;
	justify-content: space-between;
    }

    .choose-event{
        display: flex;
	justify-content: space-between;	
    }

    .choose-event h2{
        margin-bottom: 0;
    }

    .choose-event p{
        margin-bottom: 0;
    }

    .choose-event select{
        width: 12.5rem;
        margin-bottom: 2rem;
    }

    header {
      color: #000;
      text-align: center;
    }
    main {
      background: #ffffff;
      min-height: 80vh;
    }

    .controls {
      text-align: center;
      padding: 0.5em 0;
      margin-top: 1.5rem;
    }

    video {
        width: 100%;
        background: black;
        height: 30rem;

    }

    select{
        width: 15rem;
    }

    button{
          width: 15rem;
          background: #00573F;
          color: #FFF;
          text-decoration: none;
          padding: 1rem 2rem;
          border: none;
          border-radius: 6px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 1rem;
     }
